.container-fluid{

    display: flex;
    position: relative;
    position: sticky;
    box-sizing: border-box;  

}

.container{

    position: absolute;
    background-color: crimson;
    width:700px;
    top:15px;
    left: 300px;
    border: 1px solid transparent;
    border-radius: 15px;
    align-content: center;

}

input {
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border:1px solid transparent;
    border-radius: 5px;
}

button { padding: 10px;}

.block{
        background-color: black;
        color: white;
}